/* ========================================================================== *\
   RESET ($reset)
\* ========================================================================== */

/**
 * The <html> element.
 *
 * 1. `border-box`... ALL THE THINGS!
 *
 *    @link http://cbrac.co/RQrDL5
 *
 * 2. Force a vertical scrollbar.
 *
 *    @link http://cbrac.co/163MspB
 *
 * 3. Ensure the <html> element's `height` is at least the viewport height.
 *
 * NOTES:
 *
 * - Use `text-rendering` with caution.
 *
 *   @link http://cbrac.co/SJt8p1
 *
 * - Avoid the webkit anti-aliasing trap.
 *
 *   @link http://cbrac.co/TAdhbH
 *
 * - IE for Windows Phone 8 ignores `-ms-text-size-adjust` if the viewport
 *   <meta> tag is used.
 *
 *   @link http://cbrac.co/1cFrAvl
 */

html {
  box-sizing: border-box; /* 1 */
  overflow-y: scroll;     /* 2 */
  height: 100%;           /* 3 */
}

/**
 * Inheriting the `box-sizing` property is a better practice.
 *
 * @link http://cbrac.co/1tqPFsy
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * The <body> element.
 *
 * 1. Ensure the <body> element's `min-height` is at least the viewport height.
 * 2. Remove default `margin`.
 */

body {
  min-height: 100%; /* 1 */
  margin: 0;        /* 2 */
}

/**
 * Remove margins, paddings, and borders from HTML elements.
 *
 * @link http://cbrac.co/1Ev9etR
 */

a,
abbr,
acronym,
address,
applet,
article,
aside,
b,
blockquote,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
}

/**
 * Reset `margin` for figure elements.
 */

figure {
  margin-right: auto;
  margin-left: auto;
}

/**
 * Add opinionated default <table> styles.
 */

table {
  width: 100%;
  empty-cells: show;
}

th,
tfoot td {
  text-align: left;
}

th,
td {
  overflow: visible;
}

/**
 * Suppress the `:focus` outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 *
 * It is okay to use `!important` here because we always want this rule to take
 * precedence.
 *
 * @link http://cbrac.co/1Evazku
 */

[tabindex="-1"]:focus {
  outline: none !important;
}
