<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Title, desc -->
        {% if title and not page.isHome %}
        <title>{{ title }} &bull; {{ site.title }} &bull; {{ site.subtitle }}</title>
        {% else %}
        <title>{{ site.title }} &bull; {{ site.subtitle }}</title>
        {% endif %}
        <meta name="description" content="{{ teaser or site.tagline }}">
        <!-- Canonical -->
        <link rel="canonical" href="{{ site.url }}{{ page.url }}">
        {% if ignore %}
        <!-- Noindex -->
        <meta name="robots" content="noindex">
        {% endif %}
        <!-- Open Graph -->
        <meta property="og:site_name" content="{{ site.title }}">
        {% if title and not page.isHome %}
        <meta property="og:title" content="{{ title }} &bull; {{ site.title }} &bull; {{ site.subtitle }}">
        {% else %}
        <meta property="og:title" content="{{ site.title }} &bull; {{ site.subtitle }}">
        {% endif %}
        {% if title %}
        <meta property="og:type" content="article">
        {% else %}
        <meta property="og:type" content="website">
        {% endif %}
        <meta property="og:description" content="{{ teaser or site.tagline }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        {% if page.date %}
        <meta property="article:published_time" content="{{ page.date.toISOString() }}">
        <meta property="article:author" content="{{ site.url }}">
        {% endif %}
        <meta property="og:image" content="{{ site.url }}/assets/images/{{ page.openGraphImage or site.openGraphImage }}">
        <!-- Manifest -->
        <link rel="manifest" href="{{ '/site.webmanifest' }}">
        <!-- Favicons -->
        <link rel="icon" href="{{ '/assets/images/favicon.ico' }}">
        <link
            rel="icon"
            href="{{ '/assets/images/favicon.svg' }}"
            type="image/svg+xml"
        />
        <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon.png' }}">
        <!-- Styles -->
        <link rel="stylesheet" href="{% webpackAsset 'main.css' %}" />
        {% if cssFile %}
            <link rel="stylesheet" href="{{ '/assets/styles/posts/' + cssFile }}" />
        {% endif %}
        {% if site.isProd %}
        <!-- Google Analytics -->
        <script async
            src="https://www.googletagmanager.com/gtag/js?id={{ site.googleAnalyticsId }}">
        </script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '{{ site.googleAnalyticsId }}');
        </script>
        {% endif %}
    </head>
    <body>
        <div id="iconsprite" hidden>{% svgiconsprite %}</div>
        <a href="#main" class="button button--primary visually-hidden"
            >Skip to main content</a
        >
    </body>
</html>
