/**
 * Grid: Gutter
 */

:root {
  --grid-gutter: var(--spacing-4);
}

.grid--gutter {
  margin-left: calc(var(--grid-gutter) * -1);
}

.grid--gutter > .grid__item {
  padding-left: var(--grid-gutter);
}
