/* ========================================================================== *\
   GLOBAL ($global)
\* ========================================================================== */

:root {

  /* Breakpoints */

  --breakpoint-xxs: 320px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1140px;
  --breakpoint-xxl: 1380px;

  /* Borders */

  --border-radius: 3px;

  /* Colors */

  --color-black: #000000;
  --color-gray-darkest: #222222;
  --color-gray-darker: #444444;
  --color-gray-dark: #777777;
  --color-gray: #aaaaaa;
  --color-gray-light: #dedede;
  --color-gray-lighter: #efefef;
  --color-gray-lightest: #f8f8f8;
  --color-white: #ffffff;

  --color-theme-1: #00dddd;
  --color-theme-1-dark: color(var(--color-theme-1) blend(var(--color-gray-dark) 35%));
  --color-theme-2: #ff0000;
  --color-theme-3: #f4df1c;
  --color-theme-4: color(rebeccapurple blend(var(--color-gray-dark) 45%));

  --color-syntax-background: #1d1f21;
  --color-syntax-text: #c5c8c6;

  /* Font Families */

  --font-family-1: "acumin-pro", "Helvetica Neue", Arial, sans-serif;
  --font-family-2: "acumin-pro-wide", "Helvetica Neue", Arial, sans-serif;
  --font-family-3: Georgia, Cambria, "Times New Roman", Times, serif;
  --font-family-4: Monaco, Consolas, "Liberation Mono", Courier, monospace;

  /* Font Sizes */

  --font-size-100: 100%;

  --font-size-1: 0.5625em;
  --font-size-2: 0.625em;
  --font-size-3: 0.75em;
  --font-size-4: 0.875em;
  --font-size-5: 1em;
  --font-size-6: 1.125em;
  --font-size-7: 1.5em;
  --font-size-8: 1.75em;
  --font-size-9: 2em;
  --font-size-10: 2.125em;

  /* Letter Spacing */
  --letter-spacing: 0.05em;

  /* Line Heights */

  --line-height-1: 1.5;
  --line-height-2: 1.33333333;

  /* Spacing */

  --spacing-base: 24px;
  --spacing-ratio: 2;

  --spacing-1: calc(var(--spacing-base) / (var(--spacing-ratio) * 4)); /* 3px */
  --spacing-2: calc(var(--spacing-1) * var(--spacing-ratio)); /* 6px */
  --spacing-3: calc(var(--spacing-2) * var(--spacing-ratio)); /* 12px */
  --spacing-4: calc(var(--spacing-3) * var(--spacing-ratio)); /* 24px */
  --spacing-5: calc(var(--spacing-4) * var(--spacing-ratio)); /* 48px */
  --spacing-6: calc(var(--spacing-5) * var(--spacing-ratio)); /* 96px */
  --spacing-7: calc(var(--spacing-6) * var(--spacing-ratio)); /* 192px */
  --spacing-8: calc(var(--spacing-7) * var(--spacing-ratio)); /* 384px */

  /* Z-Index */

  --z-index-negative-1: -1;
  --z-index-0: 0;
  --z-index-1: 100;
  --z-index-2: 200;
  --z-index-3: 300;
  --z-index-4: 400;
  --z-index-5: 500;
  --z-index-6: 600;
  --z-index-7: 700;
  --z-index-8: 800;
  --z-index-9: 900;
  --z-index-10: 1000;

}

@custom-media --min-width-xxs (min-width: 320px);
@custom-media --min-width-xs (min-width: 480px);
@custom-media --min-width-sm (min-width: 600px);
@custom-media --min-width-md (min-width: 768px);
@custom-media --min-width-lg (min-width: 960px);
@custom-media --min-width-xl (min-width: 1140px);
@custom-media --min-width-xxl (min-width: 1380px);

@custom-media --min-height-xxs (min-height: 320px);
@custom-media --min-height-xs (min-height: 480px);
@custom-media --min-height-sm (min-height: 600px);
@custom-media --min-height-md (min-height: 768px);
@custom-media --min-height-lg (min-height: 960px);
@custom-media --min-height-xl (min-height: 1140px);
@custom-media --min-height-xxl (min-height: 1380px);
