/* ========================================================================== *\
   BACKGROUND COLOR ($background-color)
\* ========================================================================== */

.bg-color-black {
  background-color: var(--color-black);
}

.bg-color-gray-darkest {
  background-color: var(--color-gray-darkest);
}

.bg-color-gray-darker {
  background-color: var(--color-gray-darker);
}

.bg-color-gray-dark {
  background-color: var(--color-gray-dark);
}

.bg-color-gray {
  background-color: var(--color-gray);
}

.bg-color-gray-light {
  background-color: var(--color-gray-light);
}

.bg-color-gray-lighter {
  background-color: var(--color-gray-lighter);
}

.bg-color-gray-lightest {
  background-color: var(--color-gray-lightest);
}

.bg-color-white {
  background-color: var(--color-white);
}

.bg-color-1 {
  background-color: var(--color-theme-1);
}

.bg-color-2 {
  background-color: var(--color-theme-2);
}

.bg-color-3 {
  background-color: var(--color-theme-3);
}

.bg-color-4 {
  background-color: var(--color-theme-4);
}

@media screen and (--min-width-xxs) {
  .xxs-bg-color-black {
    background-color: var(--color-black);
  }

  .xxs-bg-color-gray-darkest {
    background-color: var(--color-gray-darkest);
  }

  .xxs-bg-color-gray-darker {
    background-color: var(--color-gray-darker);
  }

  .xxs-bg-color-gray-dark {
    background-color: var(--color-gray-dark);
  }

  .xxs-bg-color-gray {
    background-color: var(--color-gray);
  }

  .xxs-bg-color-gray-light {
    background-color: var(--color-gray-light);
  }

  .xxs-bg-color-gray-lighter {
    background-color: var(--color-gray-lighter);
  }

  .xxs-bg-color-gray-lightest {
    background-color: var(--color-gray-lightest);
  }

  .xxs-bg-color-white {
    background-color: var(--color-white);
  }

  .xxs-bg-color-1 {
    background-color: var(--color-theme-1);
  }

  .xxs-bg-color-2 {
    background-color: var(--color-theme-2);
  }

  .xxs-bg-color-3 {
    background-color: var(--color-theme-3);
  }

  .xxs-bg-color-4 {
    background-color: var(--color-theme-4);
  }
}

@media screen and (--min-width-xs) {
  .xs-bg-color-black {
    background-color: var(--color-black);
  }

  .xs-bg-color-gray-darkest {
    background-color: var(--color-gray-darkest);
  }

  .xs-bg-color-gray-darker {
    background-color: var(--color-gray-darker);
  }

  .xs-bg-color-gray-dark {
    background-color: var(--color-gray-dark);
  }

  .xs-bg-color-gray {
    background-color: var(--color-gray);
  }

  .xs-bg-color-gray-light {
    background-color: var(--color-gray-light);
  }

  .xs-bg-color-gray-lighter {
    background-color: var(--color-gray-lighter);
  }

  .xs-bg-color-gray-lightest {
    background-color: var(--color-gray-lightest);
  }

  .xs-bg-color-white {
    background-color: var(--color-white);
  }

  .xs-bg-color-1 {
    background-color: var(--color-theme-1);
  }

  .xs-bg-color-2 {
    background-color: var(--color-theme-2);
  }

  .xs-bg-color-3 {
    background-color: var(--color-theme-3);
  }

  .xs-bg-color-4 {
    background-color: var(--color-theme-4);
  }
}

@media screen and (--min-width-sm) {
  .sm-bg-color-black {
    background-color: var(--color-black);
  }

  .sm-bg-color-gray-darkest {
    background-color: var(--color-gray-darkest);
  }

  .sm-bg-color-gray-darker {
    background-color: var(--color-gray-darker);
  }

  .sm-bg-color-gray-dark {
    background-color: var(--color-gray-dark);
  }

  .sm-bg-color-gray {
    background-color: var(--color-gray);
  }

  .sm-bg-color-gray-light {
    background-color: var(--color-gray-light);
  }

  .sm-bg-color-gray-lighter {
    background-color: var(--color-gray-lighter);
  }

  .sm-bg-color-gray-lightest {
    background-color: var(--color-gray-lightest);
  }

  .sm-bg-color-white {
    background-color: var(--color-white);
  }

  .sm-bg-color-1 {
    background-color: var(--color-theme-1);
  }

  .sm-bg-color-2 {
    background-color: var(--color-theme-2);
  }

  .sm-bg-color-3 {
    background-color: var(--color-theme-3);
  }

  .sm-bg-color-4 {
    background-color: var(--color-theme-4);
  }
}

@media screen and (--min-width-md) {
  .md-bg-color-black {
    background-color: var(--color-black);
  }

  .md-bg-color-gray-darkest {
    background-color: var(--color-gray-darkest);
  }

  .md-bg-color-gray-darker {
    background-color: var(--color-gray-darker);
  }

  .md-bg-color-gray-dark {
    background-color: var(--color-gray-dark);
  }

  .md-bg-color-gray {
    background-color: var(--color-gray);
  }

  .md-bg-color-gray-light {
    background-color: var(--color-gray-light);
  }

  .md-bg-color-gray-lighter {
    background-color: var(--color-gray-lighter);
  }

  .md-bg-color-gray-lightest {
    background-color: var(--color-gray-lightest);
  }

  .md-bg-color-white {
    background-color: var(--color-white);
  }

  .md-bg-color-1 {
    background-color: var(--color-theme-1);
  }

  .md-bg-color-2 {
    background-color: var(--color-theme-2);
  }

  .md-bg-color-3 {
    background-color: var(--color-theme-3);
  }

  .md-bg-color-4 {
    background-color: var(--color-theme-4);
  }
}

@media screen and (--min-width-lg) {
  .lg-bg-color-black {
    background-color: var(--color-black);
  }

  .lg-bg-color-gray-darkest {
    background-color: var(--color-gray-darkest);
  }

  .lg-bg-color-gray-darker {
    background-color: var(--color-gray-darker);
  }

  .lg-bg-color-gray-dark {
    background-color: var(--color-gray-dark);
  }

  .lg-bg-color-gray {
    background-color: var(--color-gray);
  }

  .lg-bg-color-gray-light {
    background-color: var(--color-gray-light);
  }

  .lg-bg-color-gray-lighter {
    background-color: var(--color-gray-lighter);
  }

  .lg-bg-color-gray-lightest {
    background-color: var(--color-gray-lightest);
  }

  .lg-bg-color-white {
    background-color: var(--color-white);
  }

  .lg-bg-color-1 {
    background-color: var(--color-theme-1);
  }

  .lg-bg-color-2 {
    background-color: var(--color-theme-2);
  }

  .lg-bg-color-3 {
    background-color: var(--color-theme-3);
  }

  .lg-bg-color-4 {
    background-color: var(--color-theme-4);
  }
}

@media screen and (--min-width-xl) {
  .xl-bg-color-black {
    background-color: var(--color-black);
  }

  .xl-bg-color-gray-darkest {
    background-color: var(--color-gray-darkest);
  }

  .xl-bg-color-gray-darker {
    background-color: var(--color-gray-darker);
  }

  .xl-bg-color-gray-dark {
    background-color: var(--color-gray-dark);
  }

  .xl-bg-color-gray {
    background-color: var(--color-gray);
  }

  .xl-bg-color-gray-light {
    background-color: var(--color-gray-light);
  }

  .xl-bg-color-gray-lighter {
    background-color: var(--color-gray-lighter);
  }

  .xl-bg-color-gray-lightest {
    background-color: var(--color-gray-lightest);
  }

  .xl-bg-color-white {
    background-color: var(--color-white);
  }

  .xl-bg-color-1 {
    background-color: var(--color-theme-1);
  }

  .xl-bg-color-2 {
    background-color: var(--color-theme-2);
  }

  .xl-bg-color-3 {
    background-color: var(--color-theme-3);
  }

  .xl-bg-color-4 {
    background-color: var(--color-theme-4);
  }
}

@media screen and (--min-width-xxl) {
  .xxl-bg-color-black {
    background-color: var(--color-black);
  }

  .xxl-bg-color-gray-darkest {
    background-color: var(--color-gray-darkest);
  }

  .xxl-bg-color-gray-darker {
    background-color: var(--color-gray-darker);
  }

  .xxl-bg-color-gray-dark {
    background-color: var(--color-gray-dark);
  }

  .xxl-bg-color-gray {
    background-color: var(--color-gray);
  }

  .xxl-bg-color-gray-light {
    background-color: var(--color-gray-light);
  }

  .xxl-bg-color-gray-lighter {
    background-color: var(--color-gray-lighter);
  }

  .xxl-bg-color-gray-lightest {
    background-color: var(--color-gray-lightest);
  }

  .xxl-bg-color-white {
    background-color: var(--color-white);
  }

  .xxl-bg-color-1 {
    background-color: var(--color-theme-1);
  }

  .xxl-bg-color-2 {
    background-color: var(--color-theme-2);
  }

  .xxl-bg-color-3 {
    background-color: var(--color-theme-3);
  }

  .xxl-bg-color-4 {
    background-color: var(--color-theme-4);
  }
}
