/* ========================================================================== *\
   COLOR ($color)
\* ========================================================================== */

.color-black {
  color: var(--color-black);
}

.color-gray-darkest {
  color: var(--color-gray-darkest);
}

.color-gray-darker {
  color: var(--color-gray-darker);
}

.color-gray-dark {
  color: var(--color-gray-dark);
}

.color-gray {
  color: var(--color-gray);
}

.color-gray-light {
  color: var(--color-gray-light);
}

.color-gray-lighter {
  color: var(--color-gray-lighter);
}

.color-gray-lightest {
  color: var(--color-gray-lightest);
}

.color-white {
  color: var(--color-white);
}

.color-1 {
  color: var(--color-theme-1);
}

.color-2 {
  color: var(--color-theme-2);
}

.color-3 {
  color: var(--color-theme-3);
}

.color-4 {
  color: var(--color-theme-4);
}

@media screen and (--min-width-xxs) {
  .xxs-color-black {
    color: var(--color-black);
  }

  .xxs-color-gray-darkest {
    color: var(--color-gray-darkest);
  }

  .xxs-color-gray-darker {
    color: var(--color-gray-darker);
  }

  .xxs-color-gray-dark {
    color: var(--color-gray-dark);
  }

  .xxs-color-gray {
    color: var(--color-gray);
  }

  .xxs-color-gray-light {
    color: var(--color-gray-light);
  }

  .xxs-color-gray-lighter {
    color: var(--color-gray-lighter);
  }

  .xxs-color-gray-lightest {
    color: var(--color-gray-lightest);
  }

  .xxs-color-white {
    color: var(--color-white);
  }

  .xxs-color-1 {
    color: var(--color-theme-1);
  }

  .xxs-color-2 {
    color: var(--color-theme-2);
  }

  .xxs-color-3 {
    color: var(--color-theme-3);
  }

  .xxs-color-4 {
    color: var(--color-theme-4);
  }
}

@media screen and (--min-width-xs) {
  .xs-color-black {
    color: var(--color-black);
  }

  .xs-color-gray-darkest {
    color: var(--color-gray-darkest);
  }

  .xs-color-gray-darker {
    color: var(--color-gray-darker);
  }

  .xs-color-gray-dark {
    color: var(--color-gray-dark);
  }

  .xs-color-gray {
    color: var(--color-gray);
  }

  .xs-color-gray-light {
    color: var(--color-gray-light);
  }

  .xs-color-gray-lighter {
    color: var(--color-gray-lighter);
  }

  .xs-color-gray-lightest {
    color: var(--color-gray-lightest);
  }

  .xs-color-white {
    color: var(--color-white);
  }

  .xs-color-1 {
    color: var(--color-theme-1);
  }

  .xs-color-2 {
    color: var(--color-theme-2);
  }

  .xs-color-3 {
    color: var(--color-theme-3);
  }

  .xs-color-4 {
    color: var(--color-theme-4);
  }
}

@media screen and (--min-width-sm) {
  .sm-color-black {
    color: var(--color-black);
  }

  .sm-color-gray-darkest {
    color: var(--color-gray-darkest);
  }

  .sm-color-gray-darker {
    color: var(--color-gray-darker);
  }

  .sm-color-gray-dark {
    color: var(--color-gray-dark);
  }

  .sm-color-gray {
    color: var(--color-gray);
  }

  .sm-color-gray-light {
    color: var(--color-gray-light);
  }

  .sm-color-gray-lighter {
    color: var(--color-gray-lighter);
  }

  .sm-color-gray-lightest {
    color: var(--color-gray-lightest);
  }

  .sm-color-white {
    color: var(--color-white);
  }

  .sm-color-1 {
    color: var(--color-theme-1);
  }

  .sm-color-2 {
    color: var(--color-theme-2);
  }

  .sm-color-3 {
    color: var(--color-theme-3);
  }

  .sm-color-4 {
    color: var(--color-theme-4);
  }
}

@media screen and (--min-width-md) {
  .md-color-black {
    color: var(--color-black);
  }

  .md-color-gray-darkest {
    color: var(--color-gray-darkest);
  }

  .md-color-gray-darker {
    color: var(--color-gray-darker);
  }

  .md-color-gray-dark {
    color: var(--color-gray-dark);
  }

  .md-color-gray {
    color: var(--color-gray);
  }

  .md-color-gray-light {
    color: var(--color-gray-light);
  }

  .md-color-gray-lighter {
    color: var(--color-gray-lighter);
  }

  .md-color-gray-lightest {
    color: var(--color-gray-lightest);
  }

  .md-color-white {
    color: var(--color-white);
  }

  .md-color-1 {
    color: var(--color-theme-1);
  }

  .md-color-2 {
    color: var(--color-theme-2);
  }

  .md-color-3 {
    color: var(--color-theme-3);
  }

  .md-color-4 {
    color: var(--color-theme-4);
  }
}

@media screen and (--min-width-lg) {
  .lg-color-black {
    color: var(--color-black);
  }

  .lg-color-gray-darkest {
    color: var(--color-gray-darkest);
  }

  .lg-color-gray-darker {
    color: var(--color-gray-darker);
  }

  .lg-color-gray-dark {
    color: var(--color-gray-dark);
  }

  .lg-color-gray {
    color: var(--color-gray);
  }

  .lg-color-gray-light {
    color: var(--color-gray-light);
  }

  .lg-color-gray-lighter {
    color: var(--color-gray-lighter);
  }

  .lg-color-gray-lightest {
    color: var(--color-gray-lightest);
  }

  .lg-color-white {
    color: var(--color-white);
  }

  .lg-color-1 {
    color: var(--color-theme-1);
  }

  .lg-color-2 {
    color: var(--color-theme-2);
  }

  .lg-color-3 {
    color: var(--color-theme-3);
  }

  .lg-color-4 {
    color: var(--color-theme-4);
  }
}

@media screen and (--min-width-xl) {
  .xl-color-black {
    color: var(--color-black);
  }

  .xl-color-gray-darkest {
    color: var(--color-gray-darkest);
  }

  .xl-color-gray-darker {
    color: var(--color-gray-darker);
  }

  .xl-color-gray-dark {
    color: var(--color-gray-dark);
  }

  .xl-color-gray {
    color: var(--color-gray);
  }

  .xl-color-gray-light {
    color: var(--color-gray-light);
  }

  .xl-color-gray-lighter {
    color: var(--color-gray-lighter);
  }

  .xl-color-gray-lightest {
    color: var(--color-gray-lightest);
  }

  .xl-color-white {
    color: var(--color-white);
  }

  .xl-color-1 {
    color: var(--color-theme-1);
  }

  .xl-color-2 {
    color: var(--color-theme-2);
  }

  .xl-color-3 {
    color: var(--color-theme-3);
  }

  .xl-color-4 {
    color: var(--color-theme-4);
  }
}

@media screen and (--min-width-xxl) {
  .xxl-color-black {
    color: var(--color-black);
  }

  .xxl-color-gray-darkest {
    color: var(--color-gray-darkest);
  }

  .xxl-color-gray-darker {
    color: var(--color-gray-darker);
  }

  .xxl-color-gray-dark {
    color: var(--color-gray-dark);
  }

  .xxl-color-gray {
    color: var(--color-gray);
  }

  .xxl-color-gray-light {
    color: var(--color-gray-light);
  }

  .xxl-color-gray-lighter {
    color: var(--color-gray-lighter);
  }

  .xxl-color-gray-lightest {
    color: var(--color-gray-lightest);
  }

  .xxl-color-white {
    color: var(--color-white);
  }

  .xxl-color-1 {
    color: var(--color-theme-1);
  }

  .xxl-color-2 {
    color: var(--color-theme-2);
  }

  .xxl-color-3 {
    color: var(--color-theme-3);
  }

  .xxl-color-4 {
    color: var(--color-theme-4);
  }
}
