/* ========================================================================== *\
   DISPLAY ($display)
\* ========================================================================== */

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-block {
  display: block;
}

.display-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.display-table-cell {
  display: table-cell;
}

@media screen and (--min-width-xxs) {
  .xxs-display-none {
    display: none;
  }

  .xxs-display-inline {
    display: inline;
  }

  .xxs-display-inline-block {
    display: inline-block;
  }

  .xxs-display-block {
    display: block;
  }

  .xxs-display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .xxs-display-table-cell {
    display: table-cell;
  }
}

@media screen and (--min-width-xs) {
  .xs-display-none {
    display: none;
  }

  .xs-display-inline {
    display: inline;
  }

  .xs-display-inline-block {
    display: inline-block;
  }

  .xs-display-block {
    display: block;
  }

  .xs-display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .xs-display-table-cell {
    display: table-cell;
  }
}

@media screen and (--min-width-sm) {
  .sm-display-none {
    display: none;
  }

  .sm-display-inline {
    display: inline;
  }

  .sm-display-inline-block {
    display: inline-block;
  }

  .sm-display-block {
    display: block;
  }

  .sm-display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .sm-display-table-cell {
    display: table-cell;
  }
}

@media screen and (--min-width-md) {
  .md-display-none {
    display: none;
  }

  .md-display-inline {
    display: inline;
  }

  .md-display-inline-block {
    display: inline-block;
  }

  .md-display-block {
    display: block;
  }

  .md-display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .md-display-table-cell {
    display: table-cell;
  }
}

@media screen and (--min-width-lg) {
  .lg-display-none {
    display: none;
  }

  .lg-display-inline {
    display: inline;
  }

  .lg-display-inline-block {
    display: inline-block;
  }

  .lg-display-block {
    display: block;
  }

  .lg-display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .lg-display-table-cell {
    display: table-cell;
  }
}

@media screen and (--min-width-xl) {
  .xl-display-none {
    display: none;
  }

  .xl-display-inline {
    display: inline;
  }

  .xl-display-inline-block {
    display: inline-block;
  }

  .xl-display-block {
    display: block;
  }

  .xl-display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .xl-display-table-cell {
    display: table-cell;
  }
}

@media screen and (--min-width-xxl) {
  .xxl-display-none {
    display: none;
  }

  .xxl-display-inline {
    display: inline;
  }

  .xxl-display-inline-block {
    display: inline-block;
  }

  .xxl-display-block {
    display: block;
  }

  .xxl-display-table {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .xxl-display-table-cell {
    display: table-cell;
  }
}
