/* ========================================================================== *\
   WIDTH ($width)
\* ========================================================================== */

/**
 * Hat tip to @csswizardry for the fraction classes technique.
 *
 * @link http://cbrac.co/1RvQXmS
 */

/* Auto */
.width-auto {
  width: auto;
}

/* Whole */
[class~="width-1/1"],
.width-one-whole {
  width: 100%;
}

/* Halves */
[class~="width-1/2"],
.width-one-half,
[class~="width-2/4"],
.width-two-fourths,
[class~="width-3/6"],
.width-three-sixths,
[class~="width-4/8"],
.width-four-eighths,
[class~="width-5/10"],
.width-five-tenths,
[class~="width-6/12"],
.width-six-twelfths {
  width: 50%;
}

/* Thirds */
[class~="width-1/3"],
.width-one-third,
[class~="width-2/6"],
.width-two-sixths,
[class~="width-3/9"],
.width-three-ninths,
[class~="width-4/12"],
.width-four-twelfths {
  width: 33.3333333%;
}

[class~="width-2/3"],
.width-two-thirds,
[class~="width-4/6"],
.width-four-sixths,
[class~="width-6/9"],
.width-six-ninths,
[class~="width-8/12"],
.width-eight-twelfths {
  width: 66.6666666%;
}

/* Fourths */
[class~="width-1/4"],
.width-one-fourth,
[class~="width-2/8"],
.width-two-eighths,
[class~="width-3/12"],
.width-three-twelfths {
  width: 25%;
}

[class~="width-3/4"],
.width-three-fourths,
[class~="width-6/8"],
.width-six-eighths,
[class~="width-9/12"],
.width-nine-twelfths {
  width: 75%;
}

/* Fifths */
[class~="width-1/5"],
.width-one-fifth,
[class~="width-2/10"],
.width-two-tenths {
  width: 20%;
}

[class~="width-2/5"],
.width-two-fifths,
[class~="width-4/10"],
.width-four-tenths {
  width: 40%;
}

[class~="width-3/5"],
.width-three-fifths,
[class~="width-6/10"],
.width-six-tenths {
  width: 60%;
}

[class~="width-4/5"],
.width-four-fifths,
[class~="width-8/10"],
.width-eight-tenths {
  width: 80%;
}

/* Sixths */
[class~="width-1/6"],
.width-one-sixth,
[class~="width-2/12"],
.width-two-twelfths {
  width: 16.6666666%;
}

[class~="width-5/6"],
.width-five-sixths,
[class~="width-10/12"],
.width-ten-twelfths {
  width: 83.3333333%;
}

/* Eighths */
[class~="width-1/8"],
.width-one-eighth {
  width: 12.5%;
}

[class~="width-3/8"],
.width-three-eighths {
  width: 37.5%;
}

[class~="width-5/8"],
.width-five-eighths {
  width: 62.5%;
}

[class~="width-7/8"],
.width-seven-eighths {
  width: 87.5%;
}

/* Ninths */
[class~="width-1/9"],
.width-one-ninth {
  width: 11.1111111%;
}

[class~="width-2/9"],
.width-two-ninths {
  width: 22.2222222%;
}

[class~="width-4/9"],
.width-four-ninths {
  width: 44.4444444%;
}

[class~="width-5/9"],
.width-five-ninths {
  width: 55.5555555%;
}

[class~="width-7/9"],
.width-seven-ninths {
  width: 77.7777777%;
}

[class~="width-8/9"],
.width-eight-ninths {
  width: 88.8888888%;
}

/* Tenths */
[class~="width-1/10"],
.width-one-tenth {
  width: 10%;
}

[class~="width-3/10"],
.width-three-tenths {
  width: 30%;
}

[class~="width-7/10"],
.width-seven-tenths {
  width: 70%;
}

[class~="width-9/10"],
.width-nine-tenths {
  width: 90%;
}

/* Twelfths */
[class~="width-1/12"],
.width-one-twelfth {
  width:  8.3333333%;
}

[class~="width-5/12"],
.width-five-twelfths {
  width: 41.6666666%;
}

[class~="width-7/12"],
.width-seven-twelfths {
  width: 58.3333333%;
}

[class~="width-11/12"],
.width-eleven-twelfths {
  width: 91.6666666%;
}

@media screen and (--min-width-xxs) {
  /* Auto */
  .xxs-width-auto {
    width: auto;
  }

  /* Whole */
  [class~="xxs-width-1/1"],
  .xxs-width-one-whole {
    width: 100%;
  }

  /* Halves */
  [class~="xxs-width-1/2"],
  .xxs-width-one-half,
  [class~="xxs-width-2/4"],
  .xxs-width-two-fourths,
  [class~="xxs-width-3/6"],
  .xxs-width-three-sixths,
  [class~="xxs-width-4/8"],
  .xxs-width-four-eighths,
  [class~="xxs-width-5/10"],
  .xxs-width-five-tenths,
  [class~="xxs-width-6/12"],
  .xxs-width-six-twelfths {
    width: 50%;
  }

  /* Thirds */
  [class~="xxs-width-1/3"],
  .xxs-width-one-third,
  [class~="xxs-width-2/6"],
  .xxs-width-two-sixths,
  [class~="xxs-width-3/9"],
  .xxs-width-three-ninths,
  [class~="xxs-width-4/12"],
  .xxs-width-four-twelfths {
    width: 33.3333333%;
  }

  [class~="xxs-width-2/3"],
  .xxs-width-two-thirds,
  [class~="xxs-width-4/6"],
  .xxs-width-four-sixths,
  [class~="xxs-width-6/9"],
  .xxs-width-six-ninths,
  [class~="xxs-width-8/12"],
  .xxs-width-eight-twelfths {
    width: 66.6666666%;
  }

  /* Fourths */
  [class~="xxs-width-1/4"],
  .xxs-width-one-fourth,
  [class~="xxs-width-2/8"],
  .xxs-width-two-eighths,
  [class~="xxs-width-3/12"],
  .xxs-width-three-twelfths {
    width: 25%;
  }

  [class~="xxs-width-3/4"],
  .xxs-width-three-fourths,
  [class~="xxs-width-6/8"],
  .xxs-width-six-eighths,
  [class~="xxs-width-9/12"],
  .xxs-width-nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  [class~="xxs-width-1/5"],
  .xxs-width-one-fifth,
  [class~="xxs-width-2/10"],
  .xxs-width-two-tenths {
    width: 20%;
  }

  [class~="xxs-width-2/5"],
  .xxs-width-two-fifths,
  [class~="xxs-width-4/10"],
  .xxs-width-four-tenths {
    width: 40%;
  }

  [class~="xxs-width-3/5"],
  .xxs-width-three-fifths,
  [class~="xxs-width-6/10"],
  .xxs-width-six-tenths {
    width: 60%;
  }

  [class~="xxs-width-4/5"],
  .xxs-width-four-fifths,
  [class~="xxs-width-8/10"],
  .xxs-width-eight-tenths {
    width: 80%;
  }

  /* Sixths */
  [class~="xxs-width-1/6"],
  .xxs-width-one-sixth,
  [class~="xxs-width-2/12"],
  .xxs-width-two-twelfths {
    width: 16.6666666%;
  }

  [class~="xxs-width-5/6"],
  .xxs-width-five-sixths,
  [class~="xxs-width-10/12"],
  .xxs-width-ten-twelfths {
    width: 83.3333333%;
  }

  /* Eighths */
  [class~="xxs-width-1/8"],
  .xxs-width-one-eighth {
    width: 12.5%;
  }

  [class~="xxs-width-3/8"],
  .xxs-width-three-eighths {
    width: 37.5%;
  }

  [class~="xxs-width-5/8"],
  .xxs-width-five-eighths {
    width: 62.5%;
  }

  [class~="xxs-width-7/8"],
  .xxs-width-seven-eighths {
    width: 87.5%;
  }

  /* Ninths */
  [class~="xxs-width-1/9"],
  .xxs-width-one-ninth {
    width: 11.1111111%;
  }

  [class~="xxs-width-2/9"],
  .xxs-width-two-ninths {
    width: 22.2222222%;
  }

  [class~="xxs-width-4/9"],
  .xxs-width-four-ninths {
    width: 44.4444444%;
  }

  [class~="xxs-width-5/9"],
  .xxs-width-five-ninths {
    width: 55.5555555%;
  }

  [class~="xxs-width-7/9"],
  .xxs-width-seven-ninths {
    width: 77.7777777%;
  }

  [class~="xxs-width-8/9"],
  .xxs-width-eight-ninths {
    width: 88.8888888%;
  }

  /* Tenths */
  [class~="xxs-width-1/10"],
  .xxs-width-one-tenth {
    width: 10%;
  }

  [class~="xxs-width-3/10"],
  .xxs-width-three-tenths {
    width: 30%;
  }

  [class~="xxs-width-7/10"],
  .xxs-width-seven-tenths {
    width: 70%;
  }

  [class~="xxs-width-9/10"],
  .xxs-width-nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  [class~="xxs-width-1/12"],
  .xxs-width-one-twelfth {
    width:  8.3333333%;
  }

  [class~="xxs-width-5/12"],
  .xxs-width-five-twelfths {
    width: 41.6666666%;
  }

  [class~="xxs-width-7/12"],
  .xxs-width-seven-twelfths {
    width: 58.3333333%;
  }

  [class~="xxs-width-11/12"],
  .xxs-width-eleven-twelfths {
    width: 91.6666666%;
  }
}

@media screen and (--min-width-xs) {
  /* Auto */
  .xs-width-auto {
    width: auto;
  }

  /* Whole */
  [class~="xs-width-1/1"],
  .xs-width-one-whole {
    width: 100%;
  }

  /* Halves */
  [class~="xs-width-1/2"],
  .xs-width-one-half,
  [class~="xs-width-2/4"],
  .xs-width-two-fourths,
  [class~="xs-width-3/6"],
  .xs-width-three-sixths,
  [class~="xs-width-4/8"],
  .xs-width-four-eighths,
  [class~="xs-width-5/10"],
  .xs-width-five-tenths,
  [class~="xs-width-6/12"],
  .xs-width-six-twelfths {
    width: 50%;
  }

  /* Thirds */
  [class~="xs-width-1/3"],
  .xs-width-one-third,
  [class~="xs-width-2/6"],
  .xs-width-two-sixths,
  [class~="xs-width-3/9"],
  .xs-width-three-ninths,
  [class~="xs-width-4/12"],
  .xs-width-four-twelfths {
    width: 33.3333333%;
  }

  [class~="xs-width-2/3"],
  .xs-width-two-thirds,
  [class~="xs-width-4/6"],
  .xs-width-four-sixths,
  [class~="xs-width-6/9"],
  .xs-width-six-ninths,
  [class~="xs-width-8/12"],
  .xs-width-eight-twelfths {
    width: 66.6666666%;
  }

  /* Fourths */
  [class~="xs-width-1/4"],
  .xs-width-one-fourth,
  [class~="xs-width-2/8"],
  .xs-width-two-eighths,
  [class~="xs-width-3/12"],
  .xs-width-three-twelfths {
    width: 25%;
  }

  [class~="xs-width-3/4"],
  .xs-width-three-fourths,
  [class~="xs-width-6/8"],
  .xs-width-six-eighths,
  [class~="xs-width-9/12"],
  .xs-width-nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  [class~="xs-width-1/5"],
  .xs-width-one-fifth,
  [class~="xs-width-2/10"],
  .xs-width-two-tenths {
    width: 20%;
  }

  [class~="xs-width-2/5"],
  .xs-width-two-fifths,
  [class~="xs-width-4/10"],
  .xs-width-four-tenths {
    width: 40%;
  }

  [class~="xs-width-3/5"],
  .xs-width-three-fifths,
  [class~="xs-width-6/10"],
  .xs-width-six-tenths {
    width: 60%;
  }

  [class~="xs-width-4/5"],
  .xs-width-four-fifths,
  [class~="xs-width-8/10"],
  .xs-width-eight-tenths {
    width: 80%;
  }

  /* Sixths */
  [class~="xs-width-1/6"],
  .xs-width-one-sixth,
  [class~="xs-width-2/12"],
  .xs-width-two-twelfths {
    width: 16.6666666%;
  }

  [class~="xs-width-5/6"],
  .xs-width-five-sixths,
  [class~="xs-width-10/12"],
  .xs-width-ten-twelfths {
    width: 83.3333333%;
  }

  /* Eighths */
  [class~="xs-width-1/8"],
  .xs-width-one-eighth {
    width: 12.5%;
  }

  [class~="xs-width-3/8"],
  .xs-width-three-eighths {
    width: 37.5%;
  }

  [class~="xs-width-5/8"],
  .xs-width-five-eighths {
    width: 62.5%;
  }

  [class~="xs-width-7/8"],
  .xs-width-seven-eighths {
    width: 87.5%;
  }

  /* Ninths */
  [class~="xs-width-1/9"],
  .xs-width-one-ninth {
    width: 11.1111111%;
  }

  [class~="xs-width-2/9"],
  .xs-width-two-ninths {
    width: 22.2222222%;
  }

  [class~="xs-width-4/9"],
  .xs-width-four-ninths {
    width: 44.4444444%;
  }

  [class~="xs-width-5/9"],
  .xs-width-five-ninths {
    width: 55.5555555%;
  }

  [class~="xs-width-7/9"],
  .xs-width-seven-ninths {
    width: 77.7777777%;
  }

  [class~="xs-width-8/9"],
  .xs-width-eight-ninths {
    width: 88.8888888%;
  }

  /* Tenths */
  [class~="xs-width-1/10"],
  .xs-width-one-tenth {
    width: 10%;
  }

  [class~="xs-width-3/10"],
  .xs-width-three-tenths {
    width: 30%;
  }

  [class~="xs-width-7/10"],
  .xs-width-seven-tenths {
    width: 70%;
  }

  [class~="xs-width-9/10"],
  .xs-width-nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  [class~="xs-width-1/12"],
  .xs-width-one-twelfth {
    width:  8.3333333%;
  }

  [class~="xs-width-5/12"],
  .xs-width-five-twelfths {
    width: 41.6666666%;
  }

  [class~="xs-width-7/12"],
  .xs-width-seven-twelfths {
    width: 58.3333333%;
  }

  [class~="xs-width-11/12"],
  .xs-width-eleven-twelfths {
    width: 91.6666666%;
  }
}

@media screen and (--min-width-sm) {
  /* Auto */
  .sm-width-auto {
    width: auto;
  }

  /* Whole */
  [class~="sm-width-1/1"],
  .sm-width-one-whole {
    width: 100%;
  }

  /* Halves */
  [class~="sm-width-1/2"],
  .sm-width-one-half,
  [class~="sm-width-2/4"],
  .sm-width-two-fourths,
  [class~="sm-width-3/6"],
  .sm-width-three-sixths,
  [class~="sm-width-4/8"],
  .sm-width-four-eighths,
  [class~="sm-width-5/10"],
  .sm-width-five-tenths,
  [class~="sm-width-6/12"],
  .sm-width-six-twelfths {
    width: 50%;
  }

  /* Thirds */
  [class~="sm-width-1/3"],
  .sm-width-one-third,
  [class~="sm-width-2/6"],
  .sm-width-two-sixths,
  [class~="sm-width-3/9"],
  .sm-width-three-ninths,
  [class~="sm-width-4/12"],
  .sm-width-four-twelfths {
    width: 33.3333333%;
  }

  [class~="sm-width-2/3"],
  .sm-width-two-thirds,
  [class~="sm-width-4/6"],
  .sm-width-four-sixths,
  [class~="sm-width-6/9"],
  .sm-width-six-ninths,
  [class~="sm-width-8/12"],
  .sm-width-eight-twelfths {
    width: 66.6666666%;
  }

  /* Fourths */
  [class~="sm-width-1/4"],
  .sm-width-one-fourth,
  [class~="sm-width-2/8"],
  .sm-width-two-eighths,
  [class~="sm-width-3/12"],
  .sm-width-three-twelfths {
    width: 25%;
  }

  [class~="sm-width-3/4"],
  .sm-width-three-fourths,
  [class~="sm-width-6/8"],
  .sm-width-six-eighths,
  [class~="sm-width-9/12"],
  .sm-width-nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  [class~="sm-width-1/5"],
  .sm-width-one-fifth,
  [class~="sm-width-2/10"],
  .sm-width-two-tenths {
    width: 20%;
  }

  [class~="sm-width-2/5"],
  .sm-width-two-fifths,
  [class~="sm-width-4/10"],
  .sm-width-four-tenths {
    width: 40%;
  }

  [class~="sm-width-3/5"],
  .sm-width-three-fifths,
  [class~="sm-width-6/10"],
  .sm-width-six-tenths {
    width: 60%;
  }

  [class~="sm-width-4/5"],
  .sm-width-four-fifths,
  [class~="sm-width-8/10"],
  .sm-width-eight-tenths {
    width: 80%;
  }

  /* Sixths */
  [class~="sm-width-1/6"],
  .sm-width-one-sixth,
  [class~="sm-width-2/12"],
  .sm-width-two-twelfths {
    width: 16.6666666%;
  }

  [class~="sm-width-5/6"],
  .sm-width-five-sixths,
  [class~="sm-width-10/12"],
  .sm-width-ten-twelfths {
    width: 83.3333333%;
  }

  /* Eighths */
  [class~="sm-width-1/8"],
  .sm-width-one-eighth {
    width: 12.5%;
  }

  [class~="sm-width-3/8"],
  .sm-width-three-eighths {
    width: 37.5%;
  }

  [class~="sm-width-5/8"],
  .sm-width-five-eighths {
    width: 62.5%;
  }

  [class~="sm-width-7/8"],
  .sm-width-seven-eighths {
    width: 87.5%;
  }

  /* Ninths */
  [class~="sm-width-1/9"],
  .sm-width-one-ninth {
    width: 11.1111111%;
  }

  [class~="sm-width-2/9"],
  .sm-width-two-ninths {
    width: 22.2222222%;
  }

  [class~="sm-width-4/9"],
  .sm-width-four-ninths {
    width: 44.4444444%;
  }

  [class~="sm-width-5/9"],
  .sm-width-five-ninths {
    width: 55.5555555%;
  }

  [class~="sm-width-7/9"],
  .sm-width-seven-ninths {
    width: 77.7777777%;
  }

  [class~="sm-width-8/9"],
  .sm-width-eight-ninths {
    width: 88.8888888%;
  }

  /* Tenths */
  [class~="sm-width-1/10"],
  .sm-width-one-tenth {
    width: 10%;
  }

  [class~="sm-width-3/10"],
  .sm-width-three-tenths {
    width: 30%;
  }

  [class~="sm-width-7/10"],
  .sm-width-seven-tenths {
    width: 70%;
  }

  [class~="sm-width-9/10"],
  .sm-width-nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  [class~="sm-width-1/12"],
  .sm-width-one-twelfth {
    width:  8.3333333%;
  }

  [class~="sm-width-5/12"],
  .sm-width-five-twelfths {
    width: 41.6666666%;
  }

  [class~="sm-width-7/12"],
  .sm-width-seven-twelfths {
    width: 58.3333333%;
  }

  [class~="sm-width-11/12"],
  .sm-width-eleven-twelfths {
    width: 91.6666666%;
  }
}

@media screen and (--min-width-md) {
  /* Auto */
  .md-width-auto {
    width: auto;
  }

  /* Whole */
  [class~="md-width-1/1"],
  .md-width-one-whole {
    width: 100%;
  }

  /* Halves */
  [class~="md-width-1/2"],
  .md-width-one-half,
  [class~="md-width-2/4"],
  .md-width-two-fourths,
  [class~="md-width-3/6"],
  .md-width-three-sixths,
  [class~="md-width-4/8"],
  .md-width-four-eighths,
  [class~="md-width-5/10"],
  .md-width-five-tenths,
  [class~="md-width-6/12"],
  .md-width-six-twelfths {
    width: 50%;
  }

  /* Thirds */
  [class~="md-width-1/3"],
  .md-width-one-third,
  [class~="md-width-2/6"],
  .md-width-two-sixths,
  [class~="md-width-3/9"],
  .md-width-three-ninths,
  [class~="md-width-4/12"],
  .md-width-four-twelfths {
    width: 33.3333333%;
  }

  [class~="md-width-2/3"],
  .md-width-two-thirds,
  [class~="md-width-4/6"],
  .md-width-four-sixths,
  [class~="md-width-6/9"],
  .md-width-six-ninths,
  [class~="md-width-8/12"],
  .md-width-eight-twelfths {
    width: 66.6666666%;
  }

  /* Fourths */
  [class~="md-width-1/4"],
  .md-width-one-fourth,
  [class~="md-width-2/8"],
  .md-width-two-eighths,
  [class~="md-width-3/12"],
  .md-width-three-twelfths {
    width: 25%;
  }

  [class~="md-width-3/4"],
  .md-width-three-fourths,
  [class~="md-width-6/8"],
  .md-width-six-eighths,
  [class~="md-width-9/12"],
  .md-width-nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  [class~="md-width-1/5"],
  .md-width-one-fifth,
  [class~="md-width-2/10"],
  .md-width-two-tenths {
    width: 20%;
  }

  [class~="md-width-2/5"],
  .md-width-two-fifths,
  [class~="md-width-4/10"],
  .md-width-four-tenths {
    width: 40%;
  }

  [class~="md-width-3/5"],
  .md-width-three-fifths,
  [class~="md-width-6/10"],
  .md-width-six-tenths {
    width: 60%;
  }

  [class~="md-width-4/5"],
  .md-width-four-fifths,
  [class~="md-width-8/10"],
  .md-width-eight-tenths {
    width: 80%;
  }

  /* Sixths */
  [class~="md-width-1/6"],
  .md-width-one-sixth,
  [class~="md-width-2/12"],
  .md-width-two-twelfths {
    width: 16.6666666%;
  }

  [class~="md-width-5/6"],
  .md-width-five-sixths,
  [class~="md-width-10/12"],
  .md-width-ten-twelfths {
    width: 83.3333333%;
  }

  /* Eighths */
  [class~="md-width-1/8"],
  .md-width-one-eighth {
    width: 12.5%;
  }

  [class~="md-width-3/8"],
  .md-width-three-eighths {
    width: 37.5%;
  }

  [class~="md-width-5/8"],
  .md-width-five-eighths {
    width: 62.5%;
  }

  [class~="md-width-7/8"],
  .md-width-seven-eighths {
    width: 87.5%;
  }

  /* Ninths */
  [class~="md-width-1/9"],
  .md-width-one-ninth {
    width: 11.1111111%;
  }

  [class~="md-width-2/9"],
  .md-width-two-ninths {
    width: 22.2222222%;
  }

  [class~="md-width-4/9"],
  .md-width-four-ninths {
    width: 44.4444444%;
  }

  [class~="md-width-5/9"],
  .md-width-five-ninths {
    width: 55.5555555%;
  }

  [class~="md-width-7/9"],
  .md-width-seven-ninths {
    width: 77.7777777%;
  }

  [class~="md-width-8/9"],
  .md-width-eight-ninths {
    width: 88.8888888%;
  }

  /* Tenths */
  [class~="md-width-1/10"],
  .md-width-one-tenth {
    width: 10%;
  }

  [class~="md-width-3/10"],
  .md-width-three-tenths {
    width: 30%;
  }

  [class~="md-width-7/10"],
  .md-width-seven-tenths {
    width: 70%;
  }

  [class~="md-width-9/10"],
  .md-width-nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  [class~="md-width-1/12"],
  .md-width-one-twelfth {
    width:  8.3333333%;
  }

  [class~="md-width-5/12"],
  .md-width-five-twelfths {
    width: 41.6666666%;
  }

  [class~="md-width-7/12"],
  .md-width-seven-twelfths {
    width: 58.3333333%;
  }

  [class~="md-width-11/12"],
  .md-width-eleven-twelfths {
    width: 91.6666666%;
  }
}

@media screen and (--min-width-lg) {
  /* Auto */
  .lg-width-auto {
    width: auto;
  }

  /* Whole */
  [class~="lg-width-1/1"],
  .lg-width-one-whole {
    width: 100%;
  }

  /* Halves */
  [class~="lg-width-1/2"],
  .lg-width-one-half,
  [class~="lg-width-2/4"],
  .lg-width-two-fourths,
  [class~="lg-width-3/6"],
  .lg-width-three-sixths,
  [class~="lg-width-4/8"],
  .lg-width-four-eighths,
  [class~="lg-width-5/10"],
  .lg-width-five-tenths,
  [class~="lg-width-6/12"],
  .lg-width-six-twelfths {
    width: 50%;
  }

  /* Thirds */
  [class~="lg-width-1/3"],
  .lg-width-one-third,
  [class~="lg-width-2/6"],
  .lg-width-two-sixths,
  [class~="lg-width-3/9"],
  .lg-width-three-ninths,
  [class~="lg-width-4/12"],
  .lg-width-four-twelfths {
    width: 33.3333333%;
  }

  [class~="lg-width-2/3"],
  .lg-width-two-thirds,
  [class~="lg-width-4/6"],
  .lg-width-four-sixths,
  [class~="lg-width-6/9"],
  .lg-width-six-ninths,
  [class~="lg-width-8/12"],
  .lg-width-eight-twelfths {
    width: 66.6666666%;
  }

  /* Fourths */
  [class~="lg-width-1/4"],
  .lg-width-one-fourth,
  [class~="lg-width-2/8"],
  .lg-width-two-eighths,
  [class~="lg-width-3/12"],
  .lg-width-three-twelfths {
    width: 25%;
  }

  [class~="lg-width-3/4"],
  .lg-width-three-fourths,
  [class~="lg-width-6/8"],
  .lg-width-six-eighths,
  [class~="lg-width-9/12"],
  .lg-width-nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  [class~="lg-width-1/5"],
  .lg-width-one-fifth,
  [class~="lg-width-2/10"],
  .lg-width-two-tenths {
    width: 20%;
  }

  [class~="lg-width-2/5"],
  .lg-width-two-fifths,
  [class~="lg-width-4/10"],
  .lg-width-four-tenths {
    width: 40%;
  }

  [class~="lg-width-3/5"],
  .lg-width-three-fifths,
  [class~="lg-width-6/10"],
  .lg-width-six-tenths {
    width: 60%;
  }

  [class~="lg-width-4/5"],
  .lg-width-four-fifths,
  [class~="lg-width-8/10"],
  .lg-width-eight-tenths {
    width: 80%;
  }

  /* Sixths */
  [class~="lg-width-1/6"],
  .lg-width-one-sixth,
  [class~="lg-width-2/12"],
  .lg-width-two-twelfths {
    width: 16.6666666%;
  }

  [class~="lg-width-5/6"],
  .lg-width-five-sixths,
  [class~="lg-width-10/12"],
  .lg-width-ten-twelfths {
    width: 83.3333333%;
  }

  /* Eighths */
  [class~="lg-width-1/8"],
  .lg-width-one-eighth {
    width: 12.5%;
  }

  [class~="lg-width-3/8"],
  .lg-width-three-eighths {
    width: 37.5%;
  }

  [class~="lg-width-5/8"],
  .lg-width-five-eighths {
    width: 62.5%;
  }

  [class~="lg-width-7/8"],
  .lg-width-seven-eighths {
    width: 87.5%;
  }

  /* Ninths */
  [class~="lg-width-1/9"],
  .lg-width-one-ninth {
    width: 11.1111111%;
  }

  [class~="lg-width-2/9"],
  .lg-width-two-ninths {
    width: 22.2222222%;
  }

  [class~="lg-width-4/9"],
  .lg-width-four-ninths {
    width: 44.4444444%;
  }

  [class~="lg-width-5/9"],
  .lg-width-five-ninths {
    width: 55.5555555%;
  }

  [class~="lg-width-7/9"],
  .lg-width-seven-ninths {
    width: 77.7777777%;
  }

  [class~="lg-width-8/9"],
  .lg-width-eight-ninths {
    width: 88.8888888%;
  }

  /* Tenths */
  [class~="lg-width-1/10"],
  .lg-width-one-tenth {
    width: 10%;
  }

  [class~="lg-width-3/10"],
  .lg-width-three-tenths {
    width: 30%;
  }

  [class~="lg-width-7/10"],
  .lg-width-seven-tenths {
    width: 70%;
  }

  [class~="lg-width-9/10"],
  .lg-width-nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  [class~="lg-width-1/12"],
  .lg-width-one-twelfth {
    width:  8.3333333%;
  }

  [class~="lg-width-5/12"],
  .lg-width-five-twelfths {
    width: 41.6666666%;
  }

  [class~="lg-width-7/12"],
  .lg-width-seven-twelfths {
    width: 58.3333333%;
  }

  [class~="lg-width-11/12"],
  .lg-width-eleven-twelfths {
    width: 91.6666666%;
  }
}

@media screen and (--min-width-xl) {
  /* Auto */
  .xl-width-auto {
    width: auto;
  }

  /* Whole */
  [class~="xl-width-1/1"],
  .xl-width-one-whole {
    width: 100%;
  }

  /* Halves */
  [class~="xl-width-1/2"],
  .xl-width-one-half,
  [class~="xl-width-2/4"],
  .xl-width-two-fourths,
  [class~="xl-width-3/6"],
  .xl-width-three-sixths,
  [class~="xl-width-4/8"],
  .xl-width-four-eighths,
  [class~="xl-width-5/10"],
  .xl-width-five-tenths,
  [class~="xl-width-6/12"],
  .xl-width-six-twelfths {
    width: 50%;
  }

  /* Thirds */
  [class~="xl-width-1/3"],
  .xl-width-one-third,
  [class~="xl-width-2/6"],
  .xl-width-two-sixths,
  [class~="xl-width-3/9"],
  .xl-width-three-ninths,
  [class~="xl-width-4/12"],
  .xl-width-four-twelfths {
    width: 33.3333333%;
  }

  [class~="xl-width-2/3"],
  .xl-width-two-thirds,
  [class~="xl-width-4/6"],
  .xl-width-four-sixths,
  [class~="xl-width-6/9"],
  .xl-width-six-ninths,
  [class~="xl-width-8/12"],
  .xl-width-eight-twelfths {
    width: 66.6666666%;
  }

  /* Fourths */
  [class~="xl-width-1/4"],
  .xl-width-one-fourth,
  [class~="xl-width-2/8"],
  .xl-width-two-eighths,
  [class~="xl-width-3/12"],
  .xl-width-three-twelfths {
    width: 25%;
  }

  [class~="xl-width-3/4"],
  .xl-width-three-fourths,
  [class~="xl-width-6/8"],
  .xl-width-six-eighths,
  [class~="xl-width-9/12"],
  .xl-width-nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  [class~="xl-width-1/5"],
  .xl-width-one-fifth,
  [class~="xl-width-2/10"],
  .xl-width-two-tenths {
    width: 20%;
  }

  [class~="xl-width-2/5"],
  .xl-width-two-fifths,
  [class~="xl-width-4/10"],
  .xl-width-four-tenths {
    width: 40%;
  }

  [class~="xl-width-3/5"],
  .xl-width-three-fifths,
  [class~="xl-width-6/10"],
  .xl-width-six-tenths {
    width: 60%;
  }

  [class~="xl-width-4/5"],
  .xl-width-four-fifths,
  [class~="xl-width-8/10"],
  .xl-width-eight-tenths {
    width: 80%;
  }

  /* Sixths */
  [class~="xl-width-1/6"],
  .xl-width-one-sixth,
  [class~="xl-width-2/12"],
  .xl-width-two-twelfths {
    width: 16.6666666%;
  }

  [class~="xl-width-5/6"],
  .xl-width-five-sixths,
  [class~="xl-width-10/12"],
  .xl-width-ten-twelfths {
    width: 83.3333333%;
  }

  /* Eighths */
  [class~="xl-width-1/8"],
  .xl-width-one-eighth {
    width: 12.5%;
  }

  [class~="xl-width-3/8"],
  .xl-width-three-eighths {
    width: 37.5%;
  }

  [class~="xl-width-5/8"],
  .xl-width-five-eighths {
    width: 62.5%;
  }

  [class~="xl-width-7/8"],
  .xl-width-seven-eighths {
    width: 87.5%;
  }

  /* Ninths */
  [class~="xl-width-1/9"],
  .xl-width-one-ninth {
    width: 11.1111111%;
  }

  [class~="xl-width-2/9"],
  .xl-width-two-ninths {
    width: 22.2222222%;
  }

  [class~="xl-width-4/9"],
  .xl-width-four-ninths {
    width: 44.4444444%;
  }

  [class~="xl-width-5/9"],
  .xl-width-five-ninths {
    width: 55.5555555%;
  }

  [class~="xl-width-7/9"],
  .xl-width-seven-ninths {
    width: 77.7777777%;
  }

  [class~="xl-width-8/9"],
  .xl-width-eight-ninths {
    width: 88.8888888%;
  }

  /* Tenths */
  [class~="xl-width-1/10"],
  .xl-width-one-tenth {
    width: 10%;
  }

  [class~="xl-width-3/10"],
  .xl-width-three-tenths {
    width: 30%;
  }

  [class~="xl-width-7/10"],
  .xl-width-seven-tenths {
    width: 70%;
  }

  [class~="xl-width-9/10"],
  .xl-width-nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  [class~="xl-width-1/12"],
  .xl-width-one-twelfth {
    width:  8.3333333%;
  }

  [class~="xl-width-5/12"],
  .xl-width-five-twelfths {
    width: 41.6666666%;
  }

  [class~="xl-width-7/12"],
  .xl-width-seven-twelfths {
    width: 58.3333333%;
  }

  [class~="xl-width-11/12"],
  .xl-width-eleven-twelfths {
    width: 91.6666666%;
  }
}

@media screen and (--min-width-xxl) {
  /* Auto */
  .xxl-width-auto {
    width: auto;
  }

  /* Whole */
  [class~="xxl-width-1/1"],
  .xxl-width-one-whole {
    width: 100%;
  }

  /* Halves */
  [class~="xxl-width-1/2"],
  .xxl-width-one-half,
  [class~="xxl-width-2/4"],
  .xxl-width-two-fourths,
  [class~="xxl-width-3/6"],
  .xxl-width-three-sixths,
  [class~="xxl-width-4/8"],
  .xxl-width-four-eighths,
  [class~="xxl-width-5/10"],
  .xxl-width-five-tenths,
  [class~="xxl-width-6/12"],
  .xxl-width-six-twelfths {
    width: 50%;
  }

  /* Thirds */
  [class~="xxl-width-1/3"],
  .xxl-width-one-third,
  [class~="xxl-width-2/6"],
  .xxl-width-two-sixths,
  [class~="xxl-width-3/9"],
  .xxl-width-three-ninths,
  [class~="xxl-width-4/12"],
  .xxl-width-four-twelfths {
    width: 33.3333333%;
  }

  [class~="xxl-width-2/3"],
  .xxl-width-two-thirds,
  [class~="xxl-width-4/6"],
  .xxl-width-four-sixths,
  [class~="xxl-width-6/9"],
  .xxl-width-six-ninths,
  [class~="xxl-width-8/12"],
  .xxl-width-eight-twelfths {
    width: 66.6666666%;
  }

  /* Fourths */
  [class~="xxl-width-1/4"],
  .xxl-width-one-fourth,
  [class~="xxl-width-2/8"],
  .xxl-width-two-eighths,
  [class~="xxl-width-3/12"],
  .xxl-width-three-twelfths {
    width: 25%;
  }

  [class~="xxl-width-3/4"],
  .xxl-width-three-fourths,
  [class~="xxl-width-6/8"],
  .xxl-width-six-eighths,
  [class~="xxl-width-9/12"],
  .xxl-width-nine-twelfths {
    width: 75%;
  }

  /* Fifths */
  [class~="xxl-width-1/5"],
  .xxl-width-one-fifth,
  [class~="xxl-width-2/10"],
  .xxl-width-two-tenths {
    width: 20%;
  }

  [class~="xxl-width-2/5"],
  .xxl-width-two-fifths,
  [class~="xxl-width-4/10"],
  .xxl-width-four-tenths {
    width: 40%;
  }

  [class~="xxl-width-3/5"],
  .xxl-width-three-fifths,
  [class~="xxl-width-6/10"],
  .xxl-width-six-tenths {
    width: 60%;
  }

  [class~="xxl-width-4/5"],
  .xxl-width-four-fifths,
  [class~="xxl-width-8/10"],
  .xxl-width-eight-tenths {
    width: 80%;
  }

  /* Sixths */
  [class~="xxl-width-1/6"],
  .xxl-width-one-sixth,
  [class~="xxl-width-2/12"],
  .xxl-width-two-twelfths {
    width: 16.6666666%;
  }

  [class~="xxl-width-5/6"],
  .xxl-width-five-sixths,
  [class~="xxl-width-10/12"],
  .xxl-width-ten-twelfths {
    width: 83.3333333%;
  }

  /* Eighths */
  [class~="xxl-width-1/8"],
  .xxl-width-one-eighth {
    width: 12.5%;
  }

  [class~="xxl-width-3/8"],
  .xxl-width-three-eighths {
    width: 37.5%;
  }

  [class~="xxl-width-5/8"],
  .xxl-width-five-eighths {
    width: 62.5%;
  }

  [class~="xxl-width-7/8"],
  .xxl-width-seven-eighths {
    width: 87.5%;
  }

  /* Ninths */
  [class~="xxl-width-1/9"],
  .xxl-width-one-ninth {
    width: 11.1111111%;
  }

  [class~="xxl-width-2/9"],
  .xxl-width-two-ninths {
    width: 22.2222222%;
  }

  [class~="xxl-width-4/9"],
  .xxl-width-four-ninths {
    width: 44.4444444%;
  }

  [class~="xxl-width-5/9"],
  .xxl-width-five-ninths {
    width: 55.5555555%;
  }

  [class~="xxl-width-7/9"],
  .xxl-width-seven-ninths {
    width: 77.7777777%;
  }

  [class~="xxl-width-8/9"],
  .xxl-width-eight-ninths {
    width: 88.8888888%;
  }

  /* Tenths */
  [class~="xxl-width-1/10"],
  .xxl-width-one-tenth {
    width: 10%;
  }

  [class~="xxl-width-3/10"],
  .xxl-width-three-tenths {
    width: 30%;
  }

  [class~="xxl-width-7/10"],
  .xxl-width-seven-tenths {
    width: 70%;
  }

  [class~="xxl-width-9/10"],
  .xxl-width-nine-tenths {
    width: 90%;
  }

  /* Twelfths */
  [class~="xxl-width-1/12"],
  .xxl-width-one-twelfth {
    width:  8.3333333%;
  }

  [class~="xxl-width-5/12"],
  .xxl-width-five-twelfths {
    width: 41.6666666%;
  }

  [class~="xxl-width-7/12"],
  .xxl-width-seven-twelfths {
    width: 58.3333333%;
  }

  [class~="xxl-width-11/12"],
  .xxl-width-eleven-twelfths {
    width: 91.6666666%;
  }
}
