/**
 * Button: Color: Black
 */

:root {
  --button-color-black-background-color: var(--color-black);
  --button-color-black-color: var(--color-white);
}

.button--color-black,
.button--color-black:visited,
.button--color-black:hover,
.button--color-black:active {
  background-color: var(--button-color-black-background-color);
  color: var(--button-color-black-color);
}
