/* ========================================================================== *\
   BUTTON ($button)
\* ========================================================================== */

:root {
  --button-font-family: var(--font-family-1);
  --button-font-weight: 700;
  --button-line-height: var(--line-height-1);
  --button-padding: calc(var(--spacing-3) - 2) calc(var(--spacing-3) + 2);
  --button-color: var(--color-gray-darker);
  --button-background-color: var(--color-gray-light);
  --button-background-color-hover: color(var(--button-background-color) blend(var(--color-black) 5%));
  --button-background-color-active: color(var(--button-background-color) blend(var(--color-black) 15%));
  --button-disabled-opacity: 0.5;
  --button-skiplink-z-index: var(--z-index-10);
}

.button,
.button:visited {
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  display: inline-block;
  margin: 0;
  padding: var(--button-padding);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: var(--button-color);
  border: 0 none;
  background-color: var(--button-background-color);

  /* Antialiasing */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button:hover {
  background-color: var(--button-background-color-hover);
}

.button:active {
  background-color: var(--button-background-color-active);
}

.button:active:focus {
  outline: 0 none;
}

.button:disabled,
.button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: var(--button-disabled-opacity);
  box-shadow: none;
  text-shadow: none;
}
