/**
 * Button: Skiplink
 */

.button--skiplink {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: var(--button-skiplink-z-index);
}

.button--skiplink:active,
.button--skiplink:focus {
  left: 0;
}
