---
layout: default
---

<div class="border-top-1px border-bottom-1px padding-top-4">
  <article class="page__content">
    <div class="grid grid--gutter">
      <div class="grid__item width-one-whole lg-width-1/3">
        <div class="page__meta">
          <h1 class="font-size-6 text-uppercase margin-bottom-1">{{ page.title }}</h1>
          <h2 class="font-size-4 font-weight-400 color-gray-dark margin-bottom-4 padding-bottom-4 border-bottom-1px lg-border-bottom-0 lg-padding-bottom-0">{{ page.meta | liquify }}</h2>
        </div>
      </div>
      <div class="grid__item width-one-whole lg-width-2/3">
        {% if page.hasMarkdown %}<div class="markdown">{% endif %}{{ content }}{% if page.hasMarkdown %}</div>{% endif %}
      </div>
    </div>
  </article>
</div>
