/* ========================================================================== *\
   WRAPPER ($wrapper)
\* ========================================================================== */

:root {
  --wrapper-width: 94%;
}

/**
 * Default
 */

.wrapper {
  width: var(--wrapper-width);
  margin: 0 auto;
}
