/**
 * Wrapper: Size
 */

:root {
  --wrapper-xxs-max-width: var(--breakpoint-xxs);
  --wrapper-xs-max-width: var(--breakpoint-xs);
  --wrapper-sm-max-width: var(--breakpoint-sm);
  --wrapper-md-max-width: var(--breakpoint-md);
  --wrapper-lg-max-width: var(--breakpoint-lg);
  --wrapper-xl-max-width: var(--breakpoint-xl);
  --wrapper-xxl-max-width: var(--breakpoint-xxl);
}

.wrapper--xxs {
  max-width: var(--wrapper-xxs-max-width);
}

.wrapper--xs {
  max-width: var(--wrapper-xs-max-width);
}

.wrapper--sm {
  max-width: var(--wrapper-sm-max-width);
}

.wrapper--md {
  max-width: var(--wrapper-md-max-width);
}

.wrapper--lg {
  max-width: var(--wrapper-lg-max-width);
}

.wrapper--xl {
  max-width: var(--wrapper-xl-max-width);
}

.wrapper--xxl {
  max-width: var(--wrapper-xxl-max-width);
}
