/* ========================================================================== *\
   PAGE ($page)
\* ========================================================================== */

:root {
  --markdown-heading-margin: 1em 0 0.25em;
  --markdown-heading-color-light: var(--color-gray-dark);
  --markdown-blockquote-font-family: var(--font-family-3);
  --markdown-blockquote-font-style: italic;
  --markdown-blockquote-color: var(--color-gray-dark);
  --markdown-blockquote-margin: 0 0 var(--spacing-4);
  --markdown-blockquote-padding: 0 0 0 var(--spacing-4);
  --markdown-blockquote-border: var(--spacing-2) solid var(--color-gray-light);
  --markdown-blockquote-paragraph-margin: var(--spacing-4);
}

/**
 * Custom heading margins for Markdown content
 */

.markdown > * + h1,
.markdown > * + .heading-1,
.markdown > * + h2,
.markdown > * + .heading-2,
.markdown > * + h3,
.markdown > * + .heading-3,
.markdown > * + h4,
.markdown > * + .heading-4,
.markdown > * + h5,
.markdown > * + .heading-5,
.markdown > * + h6,
.markdown > * + .heading-6 {
  margin: var(--markdown-heading-margin);
}

.markdown > * + h5,
.markdown > * + .heading-5,
.markdown > * + h6,
.markdown > * + .heading-6 {
  color: var(--markdown-heading-color-light);
}

/**
 * Custom <blockquote> element styles for Markdown content
 */

.markdown blockquote {
  margin: var(--markdown-blockquote-margin);
  padding: var(--markdown-blockquote-padding);
  border-left: var(--markdown-blockquote-border);
  font-family: var(--markdown-blockquote-font-family);
  font-style: var(--markdown-blockquote-font-style);
  color: var(--markdown-blockquote-color);
}

.markdown blockquote p {
  margin: 0;
}

.markdown blockquote p + p {
  margin-top: var(--markdown-blockquote-paragraph-margin);
}
