/**
 * Icon: Size
 */

:root {
  --icon-size-1: 16px;
  --icon-size-2: 24px;
  --icon-size-3: 32px;
  --icon-size-4: 48px;
}

.icon--size-1 {
  width: var(--icon-size-1);
  height: var(--icon-size-1);
}

.icon--size-2 {
  width: var(--icon-size-2);
  height: var(--icon-size-2);
}

.icon--size-3 {
  width: var(--icon-size-3);
  height: var(--icon-size-3);
}

.icon--size-4 {
  width: var(--icon-size-4);
  height: var(--icon-size-4);
}
