---
layout: garden
title: Garden
teaser: A loosely tended plot of digital space for my notes, tutorials, snippets, book reviews, reflections, whatever. Anything goes. Have fun.
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
eleventyNavigation:
    key: Garden
    order: 2
permalink: "/garden/{% if paged.number > 1 %}page/{{ paged.number }}/{% endif %}index.html"
---

{% if paged.first %}
    {#<section class="section">
        <h1 class="section__heading">Search</h1>
    </section>#}

    <section class="section section--pinned">
        <h1 class="section__heading">
            Pinned
            <i role="presentation" aria-hidden="true">📌</i>
        </h2>
        {% include 'pinned.html' %}
    </section>

    <section class="section section--tags">
        <h1 class="section__heading">Topics</h1>
        {% set tags=collections.tagList %}
        {% include 'taglist.html' %}
    </section>
{% endif %}

<section class="section section--recent">
    <h1 class="section__heading">Recently added <span>{{ paged.number }} of {{ collections.pagedPosts.length }}</span></h1>
    {% include 'postslist.html' %}
</section>

{% if collections.posts.length > site.paginate %}
    {% include 'pagination.html' %}
{% endif %}
