---
permalink: /sitemap.xml
layout: null
sitemap:
    ignore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for item in collections.all | reverse %}
        {% if item.data.sitemap.ignore != true %}
            <url>
                <loc>{{ site.url }}{{ item.url }}</loc>
                {% if item.data.updated %}
                    <lastmod>{{ item.data.updated.toISOString() }}</lastmod>
                {% else %}
                    <lastmod>{{ item.date.toISOString() }}</lastmod>
                {% endif %}
                <changefreq>{{ item.data.sitemap.changefreq or 'monthly' }}</changefreq>
                <priority>{{ item.data.sitemap.priority or '0.5' }}</priority>
            </url>
        {% endif %}
    {% endfor %}
</urlset>
