---
layout: archive
title: Work
meta: "Some notable companies and projects I have been involved with over the years."
---

<ul class="grid grid--gutter">
  {% assign works = site.work | sort: "order" %}
  {% for item in works %}
    <li class="grid__item width-one-whole sm-width-1/2 lg-width-one-whole">
      {% if item.previewImage %}
        {% if item.link %}<a class="display-block" href="{{ item.link }}" rel="nofollow" target="_blank">{% endif %}<img class="margin-bottom-1" src="{{ item.previewImage }}" alt="{{ item.title }}">{% if item.link %}</a>{% endif %}
        <h1 class="heading-6">{% if item.link %}<a class="display-block" href="{{ item.link }}" rel="nofollow" target="_blank">{% endif %}{{ item.title }}{% if item.link %}</a>{% endif %}</h1>
      {% endif %}
    </li>
  {% endfor %}
</ul>
